/* http://colorschemedesigner.com/#3q21Tw0w0w0w0 */
/* cores */
body {
	background-color: #62b1d0;
	color: #fff;
}
a {
  color: #ffbc73;
  text-decoration: none;
}
a:visited { color: #ffbc73; }
a:hover { color: #ff8500; }
a:active { color: #ffbc73; }
h1 { background-color: #ffa340; }
#container { background-color: #024c68; }
#banner { background-color: #62b1d0; }
#content { background-color: #0776a0; }

/* Logo */
#banner img {padding: 0px 0px;} 

/* Tamanho */
div#content {
	min-height: 465px;
	height: expression(this.scrollHeight > 465 ? "auto" : "465px");
}

/* extras */
h3 {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px;
	margin: 0;
}

/* esquerda & direita */
#left ul li { list-style: none; }
#right ul {
	list-style: none;
	padding-left:20px;
	padding-right: 5px;
}

/* Arredondados */
#banner h1 {
	border-top: 0px;
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;
}
#container, #footer h1 {
	border-bottom: 0px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	border-bottom-right-radius: 15px;
}

/* Sombras */
#content h2 { text-shadow: 2px 2px 2px #000; }
#content h3 { text-shadow: 1px 1px 2px #000; }
#banner h1, #footer h1 { text-shadow: 1px 1px 1px #000; }
